*{
  background-color: #d8a48f;
  color: white;
  font-family: monospace;
}
h1 {
  font-size: 25px;
  justify-content: center
  align-items: center;
  padding-bottom:20px;
}
p {
font-size: 15px;
padding-bottom: 10px;
}
