* {
    margin:0px;
    margin-right: 0px;
    font-family:monospace;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    scroll-behavior: smooth;
}
.hero-img {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url("zhero-img.gif");
    height:100%;
    width: 100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}
.hero-text{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family:monospace;
}
button{
    margin-top: 20px;
    background: #985dc7;
    font-family:monospace;
    color: #392989;
    border-top-style: solid;
    border-top-color: #392989;
    border-top-width: 3px;
    border-left-style: solid;
    border-left-color: #392989;
    border-left-width: 3px;
    border-right: none;
    border-bottom: none;
}
button:hover{
    background:#392989;
    color:#985dc7;
    cursor:pointer;
    border-bottom-style: solid;
    border-bottom-color: #985dc7;
    border-bottom-width: 3px;
    border-right-style: solid;
    border-right-color: #985dc7;
    border-right-width: 3px;
    border-left: none;
    border-top: none;
}
button:active{
    background:#392989;
    color:#985dc7;
    cursor:pointer;
    border-bottom-style: solid;
    border-bottom-color: #985dc7;
    border-bottom-width: 3px;
    border-right-style: solid;
    border-right-color: #985dc7;
    border-right-width: 3px;
    border-left: none;
    border-top: none;
}
.nav {
    background-color: #985dc7;
    overflow: hidden;
    width: 100%;
}
.nav a{
    float: left;
    color: #392989;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: monospace;
}
.nav a:hover{
    background-color: #392989;
    color: #985dc7;
}

.nav a:active{
    background-color: #392989;
    color:#985dc7;
}
.about{
    background-color: #5f278b;
    color: white;
    width: 100%;
    height: 100%;
}
.about h1{
    text-align:center;
    padding-top: 20px;
    padding-bottom:15px;
}
.about p{
    padding-left: 30px;
    font-size:15px;
    line-height:1.5;
}

.projects{
    background-color: #9792cb;
    color:#392989;
    width: 100%;
    height: 100%;
}
.projects h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom:15px;
}
.project h3{
    padding-bottom: 10px;
    font-size: 18px;
}
.projects p{
    padding-left: 30px;
    text-align: left;
    font-size: 15px;
    line-height:1.5;
}
.left-float {
  float: left;
}

.right-float {
  float: right;
}
.container-float{
    padding: 10px 10px;
    font-family: monospace;
    background-color: #985dc7;
    color: #392989;
}
.container-float::after {
  content: "";
  display: table;
  clear: both;
}
