
* {
    margin: 0;
}
#body{
    margin:0;
    padding:0;
    justify-content:center;
    align-items: center;
    height:100vh;
    width:100vw;
}

#calculator{
    background-color:#e6d8c1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:100vw;
    overflow:hidden;
    height:100vh;
    margin: 0;
    display:flex;
    flex-direction: column;

}

#display{
    width: 100%;
    padding: 60px;
    font-size: 3rem;
    text-align: right;
    background-color: #d39859;
    color: #eaceaa;
    border: 1px; solide #210100;
    font-family: monospace;
    box-sizing: border-box;
    margin:0;
}

#keys{
    flex: 1;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    box-sizing: border-box;
}

button{
    width:100 %;
    height:100%;
    border: 3px solid #210100;
    background-color: #85341e;
    color: #eaceaa;
    font-size: 40px;
    font-family: monospace;
    cursor: pointer;
    border-color: #210100;
    outline-color: 1px #210100;
    border-radius: 1px;
    transition: all 0.15s ease;
}

button:active{
    transform: scale(0.97);
}
.operator-btn{
    background-color: #34150f;
    border: 1px solid #210100;
}



